<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="schedule-console" version="3.0">
	<display-name>bisheng-web</display-name>

	<!-- web.xml中加载顺序是 context-param -> listener -> filter -> servlet -->
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>bisheng</param-value>
	</context-param>
	<!-- spring基础配置文件位置 -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>classpath*:applicationContext/applicationContext.xml</param-value>
	</context-param>

	<!-- Spring 监听器 -->
	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<!-- 设置servlet编码开始 -->
	<filter>
		<filter-name>characterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>forceEncoding</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>characterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- 设置servlet编码结束 -->
	
	<!-- shiro 安全过滤器开始 -->
	<filter>
		<filter-name>shiroFilter</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
		<async-supported>true</async-supported>
		<!-- 设置true由servlet容器控制filter的生命周期 -->
		<init-param>
			<param-name>targetFilterLifecycle</param-name>
			<param-value>true</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>shiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
	</filter-mapping>
	<!-- shiro 安全过滤器结束 -->

	<!-- spring mvc配置开始 -->
	<servlet>
		<servlet-name>springMVC</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:spring-front-mvc.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<!-- <servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping> -->
	<servlet-mapping>
		<servlet-name>springMVC</servlet-name>
		<!-- 此处可以可以配置成*.do，对应struts的后缀习惯 -->
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<!-- spring mvc配置结束 -->
	
	<welcome-file-list>
		<welcome-file>index/toMain.do</welcome-file>
	</welcome-file-list>
	
    <jsp-config>
    	<!-- 配置标签库 -->
   		<taglib>
   			<taglib-uri>/WEB-INF/hz</taglib-uri>
   			<taglib-location>/WEB-INF/tlds/huozi.tld</taglib-location>
   		</taglib>
    </jsp-config>
	<session-config>  
        <session-timeout>30</session-timeout>  
	</session-config>
	<error-page>
   		<exception-type>java.lang.Exception</exception-type>
   		<location>/WEB-INF/views/errors/error.jsp</location>
	</error-page>
	<error-page>
        <error-code>500</error-code>
        <location>/WEB-INF/views/errors/error.jsp</location>
    </error-page>
</web-app>
